@model HomeFileCreateViewmodel
@{
    ViewData["Title"] = "Create";
}

<div class="container mt-5">

    <form asp-area="User" asp-controller="HomeFile" asp-action="Create" method="post">
        <div class="row my-2">
            <div class="col-3">
                <label class="d-block fw-bold">
                    نام مالک
                </label>
                <input type="text" asp-for="@Model.OnwerName" />
            </div>
            @*<div class="col-3">
                <label class="d-block fw-bold">شماره</label>
                <input type="text" asp-for="@Model.OwnerNumber" />
            </div>
            <div class="col-3">
                <label class="d-block fw-bold">قیمت</label>
                <input type="text" asp-for="@Model.FinalPrice" />
            </div>
            <div class="col-3">
                <label class="d-block fw-bold">منطقه</label>
                @{
                    <select>
                        <option value=" ">انتخاب کنید...</option>
                        @foreach (var item in Model.Region)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                }
            </div>
        </div>
        <div class="row my-4">
            <div class="col-3">
                <label class="d-block fw-bold">نوع سند</label>
                @{
                    <select>
                        <option value=" "> ...انتخاب کنید</option>
                        @foreach (var item in Model.TypeOfDocuments)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                }
            </div>
            <div class="col-3">
                <label class="d-block fw-bold">جهت خانه</label>
                @{
                    <select>
                        <option value=" ">...انتخاب کنید</option>
                        @foreach (var item in Model.HomeDirections)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                }
            </div>
            <div class="col-3">
                <label class="d-block fw-bold">انتخاب همسایگی</label>
                @{
                    <select>
                        <option value=" ">...انتخاب کنید</option>
                        @foreach (var item in Model.Neighbourhoods)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                }
            </div>
            <div class="col-3">
                <label class="d-block fw-bold">وضعیت بازسازی</label>
                @{
                    <select>
                        <option value=" ">...انتخاب کنید</option>
                        @foreach (var item in Model.Rebuilts)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                }
            </div>
        </div>
        <div class="row my-4">
            <div class="col-3">
                <label class="d-block fw-bold">نوع فایل خانه</label>
                @{
                    <select>
                        <option>انتخاب کنید...</option>
                        @foreach (var item in Model.FileTypes)
                        {
                            <option value="@item.Id">@item.Name</option>

                        }
                    </select>
                }
            </div>
        </div>
        <div class="row my-4">
            @*<div class="col-2">
                <label class="d-block fw-bold">پارکینگ</label>
                <input type="radio" name="isParking" value="true" asp-for="@Model.ForFacilities" /> <span>دارد</span>
                <input type="radio" name="isParking" value="false" /> <span>ندارد</span>
            </div>*@
           @foreach (var item in Model.ForFacilities)
           {
               <div class="col-3">
                   <label class="d-block fw-bold">@item.CategoryName</label>
                   @foreach (var fItem in item.Facilities)
                   {
                       <label>@fItem.Name</label>
                       <input type="checkbox"/>
                   }
               </div>
           }
        </div>
        
        <div class="row my-4">
            <div class="col-2">
                <label class="d-block fw-bold">انتحاب تعداد سرویس</label>
                <select>
                    @{
                        for (int numberOfWcs = 0; numberOfWcs < 11; numberOfWcs++)
                        {
                            <option>@numberOfWcs</option>
                        }
                    }
                </select>
            </div>

            <div class="col-2">
                <label class="d-block fw-bold">انتخاب تعداد اتاق</label>
                <select>
                    @{
                        for (int numberOfRooms = 0; numberOfRooms < 11; numberOfRooms++)
                        {
                            <option>@numberOfRooms</option>
                        }
                    }
                </select>
            </div>

        </div>
        <div class="row my-4">
            <div class="col-6">
                <label class="d-block fw-bold">آدرس</label>
                <textarea rows="4" cols="50"></textarea>
            </div>
            <div class="col-6">
                <label class="d-block fw-bold">توضیحات</label>
                <textarea rows="4" cols="50"></textarea>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-12 mt-5 text-center border brand-image">
                <span>انتخاب عکس</span>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-4">
                <input type="submit" value="ثبت اطلاعات" />
                <a asp-area="User" asp-controller="HomeFile" asp-action="Index">
                    بازگشت
                </a>
            </div>
        </div>
    </form>
</div>
