@model UserViewmodel_Edit

@{
    ViewData["Title"] = "UpdateUser";
}

<form asp-area="Admin" asp-controller="ManagedUser" asp-action="UpdateUser" asp-route-UserId="@Model.User.UserId" method="post">
    <div class="row">
        <div class="col-6">
            <label>نام و نام خانوادگی</label>
            <input type="text" asp-for="@Model.User.FullName" />
        </div>
        <div class="col-6">
            <label>ایمیل</label>
            <input type="text" asp-for="@Model.User.Email" />
        </div>
        <div class="col-6">
            <label>موبایل</label>
            <input type="text" asp-for="@Model.User.Phone" readonly />
        </div>
        <div class="col-12">
            <label>نقش ها</label>
            @foreach (var item in Model.Roles)
            {
                if (Model.User.Roles.Any(x => x.Equals(item.Name)))
                {
                    <input type="checkbox" name="roleNmae" value="@item.Name" checked />
                }
                else
                {
                    <input type="checkbox" name="roleNmae" value="@item.Name" />
                }
                <span>@item.Name</span>
            }
        </div>
        <div class="col-12 text-left">
            <input type="submit" value="ثبت اطلاعات" />
            <a asp-area="Admin" asp-controller="ManagedUser" asp-action="Index">بازگشت</a>
        </div>
    </div>
</form>

