@model CityViewmodel_Edit
@{
    ViewData["Title"] = "Edit";
}

<div class="container m-1">
    <div class="row">
        <div class="col">
            <form asp-area="Admin" asp-controller="City" asp-action="Edit"  method="post">
                <div class="row">
                    <div class="col-4">
                        <span>
                            ویرایش نام :
                        </span>
                        <input type="hidden" asp-for="@Model.City.CityId" />
                        <input type="text" asp-for="@Model.City.CityName" />
                    </div>
                    <div class="col-4">
                        <span>
                            استان
                        </span>
                        <select asp-for="@Model.City.ProvinceId">
                            <option value="0">انتخاب کنید . . .</option>
                            @{
                                foreach (var item in Model.Provinces)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-4">
                        <input type="submit" value="ثبت تغییرات" />
                        <a asp-area="Admin" asp-controller="City" asp-action="Index">
                            بازگشت
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



