@model SendDataToView<List<BuyerViewmodel>>
@{
    ViewData["Title"] = "Index";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-12 my-3">
            <a asp-area="User" asp-controller="Buyer" asp-action="Create" class="btnRegister">
                ثبت خریدار جدید
            </a>
        </div>
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            <span>ردیف</span>
                        </th>
                        <th>
                            <span>نام خریدار</span>
                        </th>
                        <th>
                            <span>تلفن ها</span>
                        </th>

                        <th>
                            <span>میزان سرمایه</span>
                        </th>
                        <th>
                            عملیات
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int index = 1;
                        foreach (var item in Model.Entity)
                        {
                            <tr>
                                <td>
                                    @index
                                </td>
                                <td>
                                    <span>@item.FullName</span>

                                </td>
                                <td>
                                    <span>@item.Tel</span>
                                </td>
                                <td>
                                    <span>از</span>
                                    <span>@item.FromInvestment</span>
                                    <span>تا</span>
                                    <span>@item.ToInvestment</span>
                                </td>
                                <td>
                                    <a asp-area="User" asp-controller="Buyer" asp-action="Delete" asp-route-id="@item.Id">
                                        حذف
                                    </a>
                                    <a asp-area="User" asp-controller="Buyer" asp-action="Edit" asp-route-id="@item.Id">
                                        ویرایش
                                    </a>
                                    <a asp-area="User" asp-controller="Buyer" asp-action="Details" asp-route-id="@item.Id">
                                        جزئیات
                                    </a>
                                    <a asp-area="User" asp-controller="Buyer" asp-action="CreateBuyerTel" asp-route-buyerId="@item.Id">
                                        عملیات تلفن                                    </a>
                                </td>
                            </tr>
                            index++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
