@model SendDataToView<IQueryable<Buyer>>
@{
    ViewData["Title"] = "Index";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-12 my-3">
            <a asp-area="User" asp-controller="Buyer" asp-action="Create" class="btnRegister">
                ثبت خریدار جدید
            </a>
        </div>
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <span>ردیف</span>
                        </th>
                        <th>
                            <span>نام خریدار</span>
                        </th>
                        <th>
                            <span>تلفن</span>
                        </th>

                        <th>
                            <span>میزا ن سرمایه</span>
                        </th>
                        <th>
                            <span>توضیحات خریدار</span>
                        </th>
                        <th>
                            عملیات
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int index = 1;
                        foreach (var item in Model.Entity)
                        {
                            <tr>
                                <td>
                                    @index
                                </td>
                                <td>
                                    <span>@item.FullName</span>
                                </td>
                                <td>
                                    <span>@item.BuyerTels</span>
                                </td>
                                <td>
                                    <span>از</span>
                                    <span>@item.InvestimentFrom</span>
                                    <span>تا</span>
                                    <span>@item.InvestimentTo</span>
                                </td>
                                <td>
                                    <span>@item.Description</span>
                                </td>
                                <td>
                                    <a asp-area="User" asp-controller="Buyer" asp-action="Delete" asp-route-id="@item.Id">
                                        حذف
                                    </a>
                                    <a asp-area="User" asp-controller="Buyer" asp-action="Edit" asp-route-id="@item.Id">
                                        ویرایش
                                    </a>
                                </td>
                            </tr>
                            index++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
