@model SendDataToView<List<OwnerViewmodel>>
@{
    ViewData["Title"] = "Index";
}

 
<div class="container mt-5">
    <div class="row">
        <div class="col-12 my-3">
            <a asp-area="User" asp-controller="Owner" asp-action="Create" class="btnRegister">
                ثبت مالک جدید
            </a>
        </div>
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            <span>ردیف</span>
                        </th>
                        <th>
                            <span>نام مالک</span>
                        </th>
                        <th>
                            <span>تلفن</span>
                        </th>
                        <th>
                            <span>عملیات</span>
                        </th>
                    </tr>
                </thead>
                <tbody> 
                    @{
                        int index = 1;
                        foreach (var item in Model.Entity)
                        {
                            <tr>
                                <td>
                                    @index
                                </td>
                                <td>
                                    <span>@item.FullName</span>
                                </td>
                                <td>
                                    <span>@item.Tel</span>
                                </td>
                                <td>
                                    <a asp-area="User" asp-controller="Owner" asp-action="Delete" asp-route-id="@item.Id">
                                        حذف
                                    </a>
                                    <a asp-area="User" asp-controller="Owner" asp-action="Edit" asp-route-id="@item.Id">
                                        ویرایش
                                    </a>
                                    <a asp-area="User" asp-controller="Owner" asp-action="Details" asp-route-id="@item.Id">
                                        جزئیات
                                    </a>
                                    <a asp-area="User" asp-controller="Owner" asp-action="CreateOwnerTel" asp-route-ownerId="@item.Id">
                                        عملیات تلفن
                                    </a>
                                </td>
                            </tr>
                            index++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



