@model InvestorDetailsViewmodel
@{
    ViewData["Title"] = "Details";
}

<div class="container m-5">
    <div class="row">
        <div class="col">
            <form asp-area="User" asp-controller="Investor" asp-action="Details" asp-route-Id="@Model.Id" method="post">
                <div class="row">
                    <div class="col-3">
                        <label class="d-block fw-bold mb-2">نام سرمایه گذار :</label>
                        <label>@Model.FullName</label>
                    </div>
                    <div class="col-3">
                        <label class="d-block fw-bold mb-2"> مقدار سرمایه :</label>
                        <label><span>@Model.AmountOfInvestiment</span></label>
                    </div>
                    <div class="col-6 fw-bold">
                        <label class="d-block mb-2">
                            تلفنها :
                        </label>
                        @{
                            int index = 1;
                            foreach (var item in Model.Tels)
                            {

                                <label class="d-block mt-1">@index ) @item.Tel </label>
                                index++;
                            }
                        }
                    </div>
                    <div class="col-12 mt-5">
                        <label class="d-block fw-bold mt-2">توضیحات : </label>
                        <p>@Model.Description</p>
                    </div>
                    <div class="col-12 mt-4">
                        <a asp-area="User" asp-controller="Investor" asp-action="Index">
                            بازگشت
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

